body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    scroll-behavior: smooth;
}

.list-kategori:hover {
  background-color: blue;
}

.list-card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.list-keranjang {
  overflow-y: auto;
  height: 300px;
}

.data-keranjang:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.jumlahPesan {
  text-align: center;
}

#list-hover:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}
